__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv/
.pytest_cache/
.vscode/
.git/
.gitignore
*.log


# Do not ignore the data and logs directories as they are mapped in docker-compose
# If you prefer not to map them, you can ignore them here.