.DS_Store
.vscode/*
.next/
node_modules/
__pycache__/
bin
lib
include
*.pkl
data
db_data/
notebooks/
.env.local
.env
ui/src/rest
ui/environment/.env.local
ui/.env.local
infra-repo-dir
*.ipynb
*.ipynb_checkpoints
# Ignore .venv for benchmarking
.venv 
